.para2{	text-decoration:underline;
			font-size:20px;
			
		}	
.para3{	
			float:left;
		}
		
.h1{	
			text-align:center;
			color:blue;
			text-decoration:underline;
		}	
		
.body{
				
			margin:100px;
			background-color:yellow;
		}

.div1{
			padding:20px;
			background-color:grey;
			border-radius: 20px;
			border: 2px solid red;
		}